# global owner
*                   @krlosMata @laisolizq @invocamanman @ignasirv

# ecrecover owner
/main/ecrecover     @zkronos73 @krlosMata

# counters folder owner
/counters/          @ignasirv @krlosMata

# tests owner
/test/              @laisolizq @krlosMata

# tools owner
/tools/             @laisolizq @krlosMata